<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css" />
    <title>Note information</title>
<body>
    <header>
        <div>
            <nav style="margin-bottom: 20px; padding-left: 80px">
                <a href="/">Home page</a>
            </nav>
        </div>
    </header>
    <main class="container">
        <div>
            <h1>Add Note</h1>
                <form method="POST" action="/note">
                    <div>
                        <label>Note title:
                            <input type="text" name="name" required />
                        </label>
                    </div>
                    <br>
                    <div>
                        <label>Note description:
                            <input type="text" name="description" required />
                    </label>
                    </div>
                    <br>    
                    <div>
                        <label>Select tag:</label>
                        <select name="tags" multiple="multiple" required>
                            {% for tag in tags %} '
                            <option value="{{tag.name}}">{{tag.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <br>
                    <div class="grid">
                        <button type="reset" class="secondary">Reset</button>
                        <button type="submit" class="secondary">Submit</button>
                    </div>
                </form>
                <br>
            </div>
                <a href="/tag/" role="button" class="secondary">Add tag</a>
            </div>
        </div>
    </main>
</body>