<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css" />
    <title>Boxing</title>
</head>

<body>
    <header>
        <div class="container">                    
            <nav>
                <a href="/">Home page</a>
            </nav>
        </div>
    </header>
    <section>
        <div class="container">
            <div>
                <h3>Matches</h3>
            </div>
            {% if matches| length >0 %}
            <div>
                {% for match in matches %}
                <div>                                   
                    <div>{{match.vs}}</div>
                    <div>
                        <li>Result: {{match.result}}</li>                        
                    </div>                    
                </div>
                {% endfor %}
            </div>
            {% else %}
            <h2>NO MATCHES RESULT</h2>
            {% endif %}
        </div>
    </section>
</body>

</html>