<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css" />
    <title>Menu</title>
</head>

<body>
    <header>
        <div class="container">
            <div>
                <nav>
                    <a href="/">Home page</a>
                </nav>
            </div>
        </div>
    </header>
    <div>
        <div class="container">
            <div>
                <h1>Match result</h1>
            </div>
            <div>
                <a role="button" href="/boxing/">Boxing matches</a>
                <a role="button" href="/football/">Football matches</a>
            </div>
        </div>
    </div>
</body>